.App {
  text-align: center;
}

hr {
  /* background: rgb(50, 55, 57); */
  border: 0;
  height: 0.4px;
  width: 90%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}
